:root {
	/* colors */
	--color-surface: #f1f1f1;
	--color-text: #161433;
	--color-hint: #999999;

	--color-white: #ffffff;
	--color-lime-300: #bef264;
	--color-lime-400: #a3e635;
	--color-lime-500: #84cc16;
	--color-green-300: #86efac;
	--color-green-400: #4ade80;
	--color-green-500: #22c55e;

	/* font families */
	--ff-base: "IBM Plex Sans", sans-serif;
	--ff-accent: "Young Serif", serif;

	/* font weights */
	--fw-regular: 500;
	--fw-bold: 600;
	--fw-black: 700;

	/* font sizes */
	--fs-300: 1rem;
	--fs-400: 1.125rem;
	--fs-500: 1.375rem;
	--fs-600: 1.75rem;
	--fs-700: 2.25rem;
}

body {
	margin: 0;
	background: var(--color-surface);
	color: var(--color-text);
	font-family: var(--ff-base);
	font-size: var(--fs-300);
}

.skeleton {
	color: transparent !important;
	border-radius: 1rem;
	animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 80%);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}
